/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-pink: #fe918d;
  --color-pink: #e64c7f;
  --color-coral: #ff6863;
  --color-black: #1f1f1f;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-light-sky: #86e3f5;
  --color-bluepurple: #7447fc;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-lemon: #f2e744;
  --color-orange: #fca147;
  --color-black: #000000;
  /* Font size  */

  /* Font weight */

  /* Size */
}
